<div id="wrapper">
  <div id="header">
    <nav class="container">
      <a href="" id="logo">
        <img src="img/logo.png" alt="" />
      </a>
      <ul id="main-menu">
        <li><a href="#" onclick="clickNavihome()">TRANG CHỦ</a></li>
        <li>
          <a href="#" onclick="clickNaviViewListCourse()">KHÓA HỌC</a>
          <ul class="sub-menu">
            <li><a href="#" onclick="clickDaicuong()">Đại Cương</a></li>
            <li><a href="">Cơ Sở Ngành</a></li>
            <li><a href="">Chuyên Ngành</a></li>
            <li><a href="">Ngoại Ngữ</a></li>
          </ul>
        </li>
        <li><a href="">BLOG</a></li>
        <li><a href="#" onclick="clickNaviViewListDoc()">TÀI LIỆU</a></li>
        <li><a href="">ĐỐI TÁC</a></li>
        <li><a href="#" onclick="clickNaviViewListSales()">KHUYẾN MẠI</a></li>
      </ul>
    </nav>
    <!-- <a href="./login.html" id="login-button"><button class="btn btn-primary">Login</button></a> -->
  </div>

  <!-- <a href="#" onclick="clickNavihome()">Home</a>
  <a id="view-course" href="#" onclick="clickNaviViewListCourse()"
    >Khóa học
    <li><a href="">a.1</a></li>
    <li><a href="">a.2</a></li>
    <li><a href="">a.3</a></li>
    <li><a href="">a.4</a></li>
  </a>
  <a id="view-tailieu" href="#" onclick="clickNaviViewListDoc()">Tài liệu</a>
  <a onclick="clickNaviViewListSales()">Khuyến mại</a>
  <a style="float: right"
    >Hello
    <span id="user-full-name"> Nguyen Van A </span>
    <a id="logout" href="" style="float: right" onclick="logout()">Logout</a>
  </a> -->
</div>
